* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url("../img/sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 130px;
    height: 100vh;
    width: 100%;
}

.medio {
    display: none;
}

.logo {
    height: 180px;
    width: 180px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.scritta {
    width: 450px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.scritta img {
    height: 100%;
    /* width: 100px; */
}

.bgc-white {
    background-color: #ffffff;
}

.larghezza-navbar {
    width: 80%;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.larghezza-search {
    width: 645px;
}

.navigazione {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;

}

span {
    float: left;
    font-weight: bold;
}

ul {
    float: left;
}



li {
    float: left;
    list-style: none;
    margin-left: 20px;
    border-left: 1px solid #ffffff;
}



li p {
    margin-bottom: 0;
    padding: 0 35px;
}

li p:hover {
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {

    .max {
        display: none;
    }

    .medio {
        display: block;
        color: #ffffff;
    }

    .navigazione-medio {
        margin: 0 auto;
        text-align: center;
    }

    .bottone-med {
        color: gray;
        width: 150px;
        background-color: #ffffff;
        margin-bottom: 10px;
    }


}
